.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-rows: 75px 100px 100px 100px 100px 100px 100px 100px 100px 500px ;
    grid-template-columns: 1fr 4fr;
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
}

.wrapper-content {
    background-color: ghostwhite;
    grid-column: 2;
    grid-row: 2/11;

}
